<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body id="body">
        <header><%- include('../partials/header'); %></header>
        <!--Template end-->
        <meta
            name="description"
            content="Aalap Davjekar is an artist, writer, and developer based in India. Looking to collaborate? Get in touch."
        />
        <meta
            name="keywords"
            content="artist, writer, developer, designer, web developer, visual artist, Kolhapur, India"
        />
        <div id="canvas-div"><%- include('../partials/canvas');%></div>
        <!--Template end-->
        <main id="contact-container" class="container no-overflow-y magenta">
            <div
                class="container-item about-desc contact-grid animation-expand extra-padding"
            >
                <div class="contact-heading cheeky-question">
                    <p class="text-glow">Promise not to spam me?</p>
                </div>
                <div class="contact-item">
                    <a href="mailto:me@aalapdavjekar.com"
                        ><h3
                            class="link no-margin text-glow"
                            style="color: yellow"
                        >
                            Email
                        </h3></a
                    >
                </div>
                <div class="contact-item">
                    <a href="https://t.me/aalapd"
                        ><h3
                            class="link no-margin text-glow"
                            style="color: cyan"
                        >
                            Telegram
                        </h3></a
                    >
                </div>
                <div class="contact-item">
                    <a href="https://www.instagram.com/_dvjkr/"
                        ><h3
                            class="link no-margin text-glow"
                            style="color: yellow"
                        >
                            Instagram
                        </h3></a
                    >
                </div>
                <div class="contact-heading">
                    <div class="image-overlay anim-long-scroll"></div>
                </div>
                <p class="contact-item">
                    Credits (this was built and tested mostly with love, but
                    also...)
                </p>
                <p class="contact-item">
                    Vanilla JavaScript, Node.js, Paper.js, Code-oss,
                    Hyperspektiv, fifteen days of sleep deprivation, forty-five
                    cups of coffee, Ngrok, r/learnjavascript, Vipassana
                    meditation...
                </p>
                <p class="contact-item">
                    ...sugar, spice, everything nice, motivation from my cat, a
                    recent pandemic, four seasons of Rick and Morty...
                </p>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
