<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <!--Template end-->
        <title>Aalap Davjekar</title>
        <meta
            name="description"
            content="Aalap Davjekar is an artist, writer, and developer based in India. Looking to collaborate? Get in touch."
        />
        <meta
            name="keywords"
            content="aalap, davjekar, artist, writer, website, web developer, visual artist, developer, designer, Kolhapur, India"
        />
    </head>
    <body
        id="body"
        class="scrollbar"
        style="min-height: 680vh; max-height: 700vh"
    >
        <header><%- include('../partials/header'); %></header>
        <div id="canvas-div"><%- include('../partials/canvas');%></div>
        <!--Template end-->
        <div class="quickscrollHandle quickscrollHandle-main">
            <a href="#bio" class="cursor-effect"
                ><h2 class="text-glow quickscrollHandle-item">▼</h2></a
            >
        </div>
        <main id="bio" class="">
            <div id="bio-container">
                <!-- Container WHO -->
                <div id="who" class="about-desc">
                    <div class="container-item animation-expand">
                        <h2 class="text-glow observed">Hi.</h2>
                        <video
                            class="about-video about-desc-item observed border-rad-round"
                            loop
                            muted
                            autoplay
                            playsinline
                        >
                            <source
                                src="../../assets/projects/magenta>hotpink/mag-pink12.webm"
                            />
                            <source
                                src="../../assets/projects/magenta>hotpink/fallback/mag-pink12.mp4"
                            />
                        </video>
                        <h3 class="about-desc-item text-glow observed">
                            I'm Aalap.
                        </h3>
                    </div>
                    <div
                        class="quickscrollHandle quickscrollHandle-sub grid-item float-right"
                    >
                        <a href="#what" class="cursor-effect"
                            ><h3 class="text-glow quickscrollHandle-item">
                                ▼
                            </h3></a
                        >
                    </div>
                </div>
                <!-- Container WHAT -->
                <div id="what" class="about-desc">
                    <div class="container-item animation-expand">
                        <h1 class="about-desc-item text-glow observed">
                            I'm an artist, writer, and developer.
                        </h1>
                        <a href="/projects" class="link"
                            ><h3>&#62;my work&#60;</h3></a
                        >
                    </div>
                    <div
                        class="quickscrollHandle quickscrollHandle-sub grid-item float-right"
                    >
                        <a href="#why" class="cursor-effect"
                            ><h3 class="text-glow quickscrollHandle-item">
                                ▼
                            </h3></a
                        >
                    </div>
                </div>
                <!-- Container WHY -->
                <div id="why" class="about-desc">
                    <div class="container-item animation-expand">
                        <h2 class="text-glow observed">
                            The Internet is a very big place.
                        </h2>
                        <h3 class="text-glow observed">
                            And it's only getting bigger.
                        </h3>
                    </div>
                    <div class="quickscrollHandle quickscrollHandle-sub">
                        <a href="#eye" class="cursor-effect"
                            ><h3 class="text-glow quickscrollHandle-item">
                                ▼
                            </h3></a
                        >
                    </div>
                </div>
                <!-- Container EYE -->
                <div id="eye" class="about-desc">
                    <div class="container-item animation-expand">
                        <h2
                            class="about-desc-item text-glow observed"
                            style="color: yellow"
                        >
                            Capturing eyeballs is tricky business.
                        </h2>
                        <video
                            class="about-video about-desc-item observed border-rad-round float-left"
                            loop
                            muted
                            autoplay
                            playsinline
                        >
                            <source
                                src="../../assets/projects/magenta>hotpink/mag-pink13.webm"
                                type="video/webm"
                            />
                            <source
                                src="../../assets/projects/magenta>hotpink/fallback/mag-pink13.mp4"
                                type="video/mp4"
                            />
                        </video>
                    </div>
                    <div class="quickscrollHandle quickscrollHandle-sub">
                        <a href="#how" class="cursor-effect"
                            ><h3 class="text-glow quickscrollHandle-item">
                                ▼
                            </h3></a
                        >
                    </div>
                </div>
                <!-- Container HOW -->
                <div id="how" class="about-desc">
                    <div class="container-item animation-expand">
                        <h2 class="about-desc-item text-glow observed">
                            But nothing is impossible with a little imagination.
                        </h2>
                        <video
                            class="about-video about-desc-item observed border-rad-round float-right"
                            loop
                            muted
                            autoplay
                            playsinline
                        >
                            <source
                                src="../../assets/projects/magenta>hotpink/mag-pink05.webm"
                                type="video/webm"
                            />
                            <source
                                src="../../assets/projects/magenta>hotpink/fallback/mag-pink05.mp4"
                                type="video/mp4"
                            />
                        </video>
                    </div>
                    <div class="quickscrollHandle quickscrollHandle-sub">
                        <a href="#contact" class="cursor-effect"
                            ><h3 class="text-glow quickscrollHandle-item">
                                ▼
                            </h3></a
                        >
                    </div>
                </div>
                <!-- Container CONTACT-->
                <div id="contact" class="about-desc">
                    <div class="container-item animation-expand">
                        <h2
                            class="about-desc-item text-glow observed"
                            style="color: yellow"
                        >
                            Looking to collaborate? Need some advice?
                        </h2>
                        <p class="about-desc-item text-glow observed">
                            (Want your customers to keep coming back for more?)
                        </p>
                    </div>
                    <a href="/contact" class="link quickscrollHandle-sub"
                        ><h3
                            style="color: magenta"
                            class="about-desc-item quickscrollHandle-item"
                        >
                            Get in touch!
                        </h3></a
                    >
                </div>
            </div>
        </main>
        <footer><%- include('../partials/footer'); %></footer>
        <script>
            let elements = document.querySelectorAll(".observed");

            let config = {
                root: null,
                threshold: [1],
            };

            let observer = new IntersectionObserver(onChange, config);
            elements.forEach((el) => observer.observe(el));

            function onChange(changes, observer) {
                changes.forEach((change) => {
                    if (change.isIntersecting === true) {
                        change.target.style.opacity = 1;
                    } else change.target.style.opacity = 0;
                });
            }
        </script>
    </body>
</html>
