@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap");

/* || ROOT */

:root {
    --main-link-color: #FCF7FF;
    --sec-link-color: cyan;
    --heading-color: yellow;
    --text-color: #FCF7FF;
    --highlight-color: magenta;
    --background: #000000;
    --item-transparency: 0.85;
    --font-heading: "Josefin Sans", sans-serif;
    --font-content: "Inconsolata", sans-serif;

    /* Animation things */
    --color1: magenta;
    --color2: cyan;
    --color3: yellow;
    --color4: magenta;
    --color5: #FCF7FF;

    background: var(--background);
}