/* get font for content */

h1 {
    font-size: 4vh;
    margin: 0;
    margin-bottom: 1em;
}
h1:hover {
    font-style: italic;
}

.p {
    font-size: 1.5vh;
}

blockquote {
    padding: 3vh;
    padding-left: 15%;
    padding-right: 15%;
    color: magenta;
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
    font-style: italic;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

img {
    width: 100%;
}

.post-desc,
.post-content,
.tags-div,
.date-div {
    text-align: left;
}

.post-desc,
.post-content > p,
.post-content > a,
.post-content > a:hover {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3vh !important;
    padding: 1em;
    margin: 0em;
    text-align: justify;
    vertical-align: middle;
}

.post-header {
    margin-top: 1em;
}

.post-content > figure {
    text-align: center;
}

.tags-div {
    margin-top: 1em;
}