<div class="menu">
    <nav>
        <a class="header-anchor cursor-effect" href="/">Home</a>
        <a class="header-anchor cursor-effect" href="/projects">Projects</a>
        <a class="header-anchor cursor-effect" href="/writings">Writings</a>
        <a class="header-anchor cursor-effect" href="/contact">Contact</a>
    </nav>
</div>
