<meta
    charset="UTF-8"
    name="viewport"
    content="height=device-height, initial-scale=1.0"
/>
<meta name="author" content="Aalap Davjekar" />
<title>Aalap Davjekar</title>
<script src="../../scripts/paper-full.min.js"></script>
<script
    type="text/paperscript"
    src="../../scripts/paper.js"
    canvas="myCanvas"
></script>
<script type="text/javascript" src="../../scripts/cursor.js" defer></script>

<link rel="stylesheet" href="../../styles/styles.css" />
<!-- <link rel="stylesheet" href="../../styles/debugger.css" /> -->

<!-- favicon -->
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../../assets/favicon/apple-touch-icon.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../../assets/favicon//favicon-32x32.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../../assets/favicon//favicon-16x16.png"
/>
<link rel="manifest" href="../../assets/favicon//site.webmanifest" />
